.input-group.date.datewidth{
  width: 20%;
}

.side-heading{
	font-size: 20px;
}
table.dataTable tr td:last-of-type a {
    	color: #5ca6e2;
    	margin-left: 5px;
	text-align: center;
	padding: 5px;
}
.skin-blue .content-header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #5ca6e2;
    padding-bottom: 12px;
}
.small-box {
    overflow: hidden;
    min-height:185px;
    position:relative;
    padding-bottom:26px;
}

.small-box > .small-box-footer{
	position: absolute !important;
	left: 0;
	right: 0;
	bottom: 0;
}

.inner h3{
	white-space:normal;
	font-size: 28px;
}

.inner mark{
padding: 4px 10px;
border-radius: 4px;
}

.small-box .icon {
    font-size: 70px;
    top: 0;
}
table.dataTable td, table.dataTable th {
    font-size: 14px;
}
header.main-header .logo span {
    margin-top: 7px;
}
